/* checking whether the css file is correctly linked */
body {
    background-color: blue;
}
#aboutUs, #whatWeDo {
  color: #000;
  text-align: center;
  font-size: small;
  font-family: 'Yantramanav', sans-serif;
}
h2, h3, h5 {
  font-family: 'Merriweather', serif;
}
img {
  width: auto;
  height: auto;
  }
  .services {
    background-size: cover;
    text-align: center;
    color: white;
    font-size: small;
    font-family: 'Yantramanav', sans-serif;
  }
  .hide {
    display: none;
  }
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  @media screen and (max-width: 00px) {
    .column {
      width: 100%;
    }
  }
  .container what-we-do{
    color: #000;
  }
  /* .hover {
    display: ruby-text;
  } */