/* checking whether the css file is correctly linked */
body {
    background-color: white;
}
#aboutUs, #whatWeDo, #portfolio {
  color: #000;
  text-align: center;
  font-size: small;
  font-family: 'Yantramanav', sans-serif;
}
h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
}
img {
  height: 400;
  max-width: 560;
  padding:2px;
  }
  .services {
    background-size: cover;
    text-align: center;
    color: white;
    font-size: small;
    font-family: 'Yantramanav', sans-serif;
  }
  .hide, .hover {
    display: none;
  }
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .row {
    display: flex;
    padding:2%;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  @media screen and (max-width: 00px) {
    .column {
      width: 100%;
    }
  }
  .container what-we-do{
    color: #000;
  }
  div.footer {
    color: black;
    justify-content: center;
    text-align: center;
    font-size: x-small;
    font-family: 'Amaranth', sans-serif;
  }
  /* .hover {
    display: ruby-text;
  } */